// ============================================================
//               NEXTFLOW CONFIGURATION TEMPLATE               
// ============================================================
//
// 2 profiles are provided: local (laptop/desktop) and
//                          slurm (for HPC with SLURM job schedulers)
//
// You can create your own profile for a different executor:
//     https://www.nextflow.io/docs/latest/executor.html
//
// config file has been described in our documentation here:
//     https://atkinson-lab.github.io/TractorWorkflow/docs/documentation/launching_nxf_workflow.html#config-file-for-tractor-nxf-workflow
// Additional detailed explanation here:
//     https://www.nextflow.io/docs/latest/config.html

// ATTN: Set path to Java to NXF_JAVA_HOME variable
NXF_JAVA_HOME = '/path/to/java/jdk-21.0.2/'

// ---- Reports ----
// Nextflow will automatically create these reports in **run** directory.
// They are helpful for debugging and seeing how the workflow ran.
dag.enabled = true
report.enabled = true
timeline.enabled = true

trace {
    enabled = true
    
    // you can add "script" to log the code that was executed. Can be helpful to confirm that the correct code was run for each of the steps.
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,workdir,scratch,error_action'
}


// A "profile" is a set of rules for how each step is run
// User must edit all details of the profile they plan to use.

profiles {

    // profile: slurm
    slurm {
        // Use Conda to manage dependencies (recommended).
        // Set this to your own Conda path.
        conda {
            enabled = true
            cacheDir = '/path/anaconda3/envs'
        }
        // ATTN: Edit settings for each step as needed.
        //   -  Configure CPU/memory for each workflow step here.
        //   -  You can configure all steps here, but you will probably be running only one LAI tools,
        //      so you can choose to only modify that LAI tool (rfmix2, gnomix, or flare).
        //   -  extract_tracts is used for RFMix2 and GNomix workflows
        //      extract_tracts_flare is used for FLARE workflow uses
        //   -  Different tools might have different dependencies, which might be setup using either
        //      conda or docker; provide path to environment/deps.
        //   -  You may set errorStrategy for steps (see run_tractor section below).
        process {

            // Tell Nextflow to use SLURM as the job scheduler.
            executor = 'SLURM'

            // Module 1: Phasing
            withLabel: shapeit5 {
                // conda = ''                           // Path to conda environment to use. Uncomment for use.
                cpus           = 4                      // e.g. 4 CPUs
                memory         = '16.GB'                // e.g. 16 GB RAM
                queue          = 'partition-name-here'  // Replace with your SLURM partition names
                time           = '12h'                  // e.g. 12 hours. For 2 days, you can use '2d'
                // Can provide any clusterOptions not supported by default
                // Check out: https://www.nextflow.io/docs/latest/executor.html#slurm
                // Example:
                // clusterOptions = '--exclude=<partition>'
            }

            // Module 1: Phasing
            withLabel: shapeit5_ligate {
                // conda = ''
                cpus           = 1
                memory         = '10.GB'
                queue          = 'partition-name-here'
                time           = '1h'
                // clusterOptions = ''
            }

            // Module 2: LAI w/ RFMix2
            withLabel: rfmix2 {
                // conda = ''
                cpus           = 4
                memory         = '16.GB'
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
            }

            // Module 2: LAI w/ GNomix
            withLabel: gnomix {
                // conda = '/home/username/anaconda3/envs/py3_gnomix'
                cpus           = 4
                memory         = '16.GB'
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
            }

            // Module 2: LAI w/ FLARE
            withLabel: flare {
                // conda = ''
                cpus           = 4
                memory         = '16.GB'
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
            }

            // Module 3: Pre-Tractor
            withLabel: extract_tracts {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = 1
                memory         = '10.GB'
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
            }

            // Module 3: Pre-Tractor (for FLARE)
            withLabel: extract_tracts_flare {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = 1
                memory         = '10.GB'
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
            }

            // Module 3: Tractor
            withLabel: run_tractor {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = { 4     * task.attempt }      // retry with more CPUs, based on errorStrategy
                memory         = { 20.GB * task.attempt }      // retry with more RAM, based on errorStrategy
                queue          = 'partition-name-here'
                time           = '12h'
                // clusterOptions = ''
                // errorStrategy  = 'retry'
                errorStrategy  = {task.attempt <= 2 ? 'retry' : 'finish'}
                maxRetries     = 3
            }
        }
    }

    // profile: local (laptop/desktop)
    local {
        conda {
            enabled  = true
            cacheDir = '/path/to/your/anaconda3/envs'   // ATTN: update this
        }
        process {
            // Runs locally
            executor = 'local'

            // ATTN: Update resources for all steps (based on your local resources)
            //       Reference: https://www.nextflow.io/docs/latest/executor.html#local

            // Module 1: Phasing
            withLabel: shapeit5 {
                // conda = ''                           // Path to conda environmnet, update to use
                cpus           = 4                      // e.g. 4 CPUs
                memory         = '16.GB'                // e.g. 16 GB RAM
                time           = '12h'                   // e.g. 12 hours. For 2 days, you can use '2d'
            }
            // Module 1: Phasing
            withLabel: shapeit5_ligate {
                // conda = ''
                cpus           = 1
                memory         = '10.GB'
            }
            // Module 2: LAI w/ RFMix2
            withLabel: rfmix2 {
                // conda = ''
                cpus           = 4
                memory         = '16.GB'
            }
            // Module 2: LAI w/ GNomix
            withLabel: gnomix {
                // conda = '/home/username/anaconda3/envs/py3_gnomix'
                cpus           = 8
                memory         = '32.GB'
            }
            // Module 2: LAI w/ FLARE
            withLabel: flare {
                // conda = ''
                cpus           = 4
                memory         = '16.GB'
            }
            // Module 3: Pre-Tractor
            withLabel: extract_tracts {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = 1
                memory         = '10.GB'
            }
            // Module 3: Pre-Tractor (for FLARE)
            withLabel: extract_tracts_flare {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = 1
                memory         = '10.GB'
            }
            // Module 3: Tractor
            withLabel: run_tractor {
                // conda = '/home/username/anaconda3/envs/py3_tractor'
                cpus           = { 4     * task.attempt }      // retry with more CPUs, based on errorStrategy
                memory         = { 10.GB * task.attempt }      // retry with more RAM, based on errorStrategy
                errorStrategy  = {task.attempt <= 1 ? 'retry' : 'finish'}
                maxRetries     = 2
            }
        }
    }

}
